<footer class="mdl-mini-footer">
	<div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">

	<strong>渝ICP备16010823号-1 <span class="badge badge-dark "><a href="http://www.miit.gov.cn/" title="工信部备案查询">工信部</a></span></strong>
	<br>

	<strong>Copyright © 2018 BadTudou. All rights reserved.</strong>
	</div>

</footer>
