<div class="mdl-tabs  mdl-js-tabs mdl-js-ripple-effect ">
  <div class="mdl-tabs__tab-bar ">
      <a href="#starks-panel" class="mdl-color-text--pink mdl-tabs__tab is-active">Starks</a>
      <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
      <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
  </div>
</div>