<section class="section--center mdl-grid mdl-grid--no-spacing ">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
	<div class="mdl-cell mdl-cell--9-col mdl-cell--9-col-tablet">
		<h4>关于(About)</h4>
		<div class="demo-card-wide mdl-card mdl-shadow--1dp">
		  <div class="mdl-card__title">
		    <h2 class="mdl-card__title-text">杜小豆认可</h2>
		  </div>
		  <div class="mdl-card__supporting-text typo-styles__demo">
		  	<h4>
		    不要怀疑！不要怀疑！不要怀疑！<br>
		    站点内容已经通过杜小豆裁定认可，可供所有人查阅。<br>
			谁要是怀疑本站内容的真伪，杜小豆将有权将你驱逐离本站点。<br></h4>
		  </div>
		</div>
		<h5>社会评价</h5>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-table">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"渣男!"</h5>
						<div class="mdl-typography--text-right">
						    - 前女友
							&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
					</div>
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>

					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"喜欢瞎操心... ..."</h5>
						<div class="mdl-typography--text-right">
						    - 喜欢的女孩子
						</div>
					</div>
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        				<h5>"你有没有装B,自己心里没B数吗!"</h5>
        				<div class="mdl-typography--text-right">
						    - 一个老实人
						    &nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div>
		</section>

		<h5>媒体评价</h5>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-table">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"除了'新手指南',就没有其他粉丝再关注过他!"</h5>
						<div class="mdl-typography--text-right">
						- <a href="https://weibo.com/u/5500893060" target="_blank">新浪微博</a>&nbsp;&nbsp;&nbsp;</div>
					</div>
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>

					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"听歌独自爽,深夜单身汪!"</h5>
						<div class="mdl-typography--text-right">
						 - <a href="https://music.163.com/#/user/home?id=40659831" target="_blank">网易云音乐</a>
						</div>
					</div>
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        				<h5>"装完B就走,帐号也不留!"</h5>
        				<div class="mdl-typography--text-right">
        				- <a href="https://zhuanlan.zhihu.com/DuXiaoDou" target="_blank">知乎专栏</a>&nbsp;&nbsp;&nbsp;
        				</div>
					</div>
				</div>
			</div>
		</section>

		<h5>组织评价</h5>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

			<div class="mdl-card mdl-cell mdl-cell--12-col">
				<div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
					
					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        				<h5>"穿越大业,功在当代,利在千秋!组织很看好你啊,杜九!"</h5>
        				<div class="mdl-typography--text-right">
        				- <a href="https://lgqm.huijiwiki.com/wiki/%E7%94%A8%E6%88%B7:BlueMoon" target="_blank">临高启明</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        				</div>
					</div>

					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>

					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"Ruby和杜小豆,都是程序员的好朋友!"</h5>
						<div class="mdl-typography--text-right">
						 - <a href="https://ruby-china.org/BadTudou" target="_blank">Ruby-China</a>
						</div>
					</div>

					<div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-table">
						<div class="section__circle-container__circle mdl-color--primary"></div>
					</div>
					
					<div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
						<h5>"BadTudou has no activity yet for this period."</h5>
						<div class="mdl-typography--text-right">
						- <a href="https://github.com/badtudou" target="_blank">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</div>
					
				</div>
			</div>
		</section>
	</div>
	<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"></div>
</section>